*.pyc
venv/
texlive/venv/
texlive/__pycache__/
__pycache__/
*.bak
*.orig
*.o
*.fmt
engine/test/
*.bak.js
.idea/
*.bc
*.xdv
*.log
*.aux
*.js.map
.DS_Store
/dist/
/build/
# No longer generated
/web-snack-libraries.tar.gz
node_modules/
.env
release/
win32/