/build
/buildtools
/out
/testing/corpus
/testing/gmock
/testing/gtest
/third_party/android_ndk
/third_party/catapult
/third_party/icu
/third_party/llvm
/third_party/llvm-build
/third_party/skia
/tools/clang
/tools/generate_library_loader
/tools/gyp
/tools/memory
/v8
/xcodebuild
Makefile
.DS_Store
.gclient
.gclient_entries
*.aps
*.filters
*.mk
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.xcodeproj
