<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>tex</string>
                    <string>TEX</string>
                    <string>bib</string>
                    <string>BIB</string>
                    <string>sty</string>
                    <string>STY</string>
                    <string>cls</string>
                    <string>CLS</string>
                    <string>mp</string>
                    <string>MP</string>
		    <string>asy</string>
		    <string>ASY</string>
		    <string>Rnw</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>texmaker.icns</string>
                <key>CFBundleTypeName</key>
                <string>TeX Document</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
        </array>
	<key>CFBundleIconFile</key>
	<string>texmaker.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>texmaker</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright (c) 2003-2017, Pascal Brachet</string>
	<key>CFBundleIdentifier</key>
	<string>texmaker</string>
	<key>CFBundleName</key>
	<string>texmaker</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.3</string>
	<key>CFBundleVersion</key>
	<string>5.0.3</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key> 
    <string>True</string>
</dict>
</plist>
