
#viewer {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  border:0;
  bottom:0;
  right:0;
  height:100%;
  width: 100%;
  overflow:auto;
  z-index: 0;
  background-color: #9c9c9c ;
}



.tl {position:absolute; line-height: initial}

.tl > span {position:relative;}

.tl > .sp {display:inline-block;}

.pf > ._i {position: absolute;}

.pf {background-color: white;
  margin: 0 auto;
  transform: scale(1.5);
  transform-origin: 50% 0;

}

.viewercursor
{
  border-right: 1px solid red;
}



