<!DOCTYPE html>
<html lang="en">
  <head>
  <title> SwiftLaTeX Frequently Asked Questions </title>
    <meta charset="utf-8">
	  </head>
  <body>
  
  <h4>Why does SwiftLaTeX need access to all of my Google drive?</h4>
  <p>
   Unfortunately Google provides us no other option that would allow you to read and change the files that SwiftLaTeX works on. The only other option for a service such as SwiftLaTeX to access your Google drive is by having data space just for SwiftLaTeX, but then you could not read or share it.
  </p>

  <h4>What does SwiftLaTeX access on my Google drive?</h4>
  <p>
   SwiftLaTeX is designed to only create or access folders that start the prefix SwiftLaTeX. This includes such folders shared with you.
  </p>

  <h4>What data does SwiftLaTeX get or keep about me?</h4>
  <p>
   The SwiftLaTeX Web client communicates only with the SwiftLaTeX server to set up your access token to Google and to start up.
   The server never learns anything about the projects you are doing. Not the number, not the name, not the content.
   We only do basic analytics that comes inbuilt with the webserver.
  </p>

  </body>
</html>
