<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body class="text-center">
		<h1>SwiftLaTeX</h1>
		<p>You can store your files locally or in remote cloud storage. (You may need to get a developer key from Google, please refer to our documents)</p>
	    <form class="form-signin">
	      <a href="/oauth/login_oauth?type=sandbox"><button type="button" class="btn btn-primary">Local</button></a>
	      <a href="/oauth/login_oauth?type=google"><button type="button" class="btn btn-primary">Google Drive</button></a>
	      <a href="/oauth/login_oauth?type=dropbox"><button type="button" class="btn btn-primary">Dropbox</button></a>
	    </form>
  	</body>
</html>