<html>
<body>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <div class = "container">

        <div class="row justify-content-center">
                <div class="col-6">
                    <h1 class = "tex">Connect to SwiftLaTeX</h1>
                    <br>

                    <p>
                        <a href="/oauth/login_oauth?type=google" class="btn btn-block btn-lg btn-social btn-google">
                          <span class="fa fa-google"></span>
                          Sign in with Google
                        </a>
                    </p>
                    <p>
                        <a href="/oauth/login_oauth?type=dropbox" class="btn btn-block  btn-lg  btn-social btn-dropbox">
                          <span class="fa fa-dropbox"></span>
                          Sign in with Dropbox
                        </a>
                    </p>


                    <!--<a href="/login_oauth?type=onedrive" class="btn btn-block  btn-lg  btn-social btn-microsoft">
                          <span class="fa fa-windows"></span>
                          Sign in with Onedrive
                    </a>-->

                    <h6 class = "tex">By using the website, you signify your acceptance of <a href="/serviceagreement">our service agreement.</a></h6>
                </div>
        </div>
    </div>
</body>
</html>

