<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.css">
    <script src="/static/js/s3.js"></script>
    <title>Creating Project</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Touch up your workspace with a template?</a>
        </div>
    </div>
</div>


<div class="container">


    <div class="row justify-content-center">
        <div class="col-12">
            <div>Boilerplate Template:</div>
            <input id='template_list' class="typeahead form-control" type="text"
                   placeholder="Type IEEE, ACM, or CV? There's a lot to try."/>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-12">
            <div class="form-group">
                <div>Or upload a zip:</div>
                <input type="file" name="fileToUpload" id="fileToUpload"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <button id='upload_template_button' type="button" class="btn btn-primary">Initialize workspace with this
                template
            </button>
            <button id='upload_default_button' type="button" class="btn btn-secondary">Skip this step</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <div id="status">
            </div>
        </div>
    </div>
</div>

<script src="/static/js/postcreate.js"></script>
</body>
</html>